<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aulajava.mybatis.mapper.DemoUserMapper">

	<resultMap type="DemoUser" id="DemoUserMap">
		<result property="username" column="username"/>
		<result property="fullname" column="fullname"/>
		<result property="email" column="email"/>
	</resultMap>
	
	
	<select id="getUserByCode" parameterType="int" resultType="DemoUser">
		select id, username , fullname, email, password
			from demo_user where id = #{id}
	</select>
	
	<select id="getAllUserSP" statementType="CALLABLE" resultMap="DemoUserMap">
		CALL getAllUsers()
	</select>

</mapper>